<section>
   <h1>On Twitter...</h1>
   <ul>
      <li class="tweet">
                           <span class="gentle"><a href="https://twitter.com/josafalcao">@josafalcao</a> eaeee primao!!!</span>
                        </li><li class="tweet">
                           <span class="gentle"><a href="http://t.co/SKIvALq3n1">t.co/SKIvALq3n1</a> something is going on</span>
                        </li><li class="tweet">
                           <span class="gentle"><a href="https://twitter.com/hukl">@hukl</a> don't you mean blown in the wind?</span>
                        </li><li class="tweet">
                           <span class="gentle">When life gives you lemons.... make a game controller out of them. <a href="https://search.twitter.com/search?q=%23WoogaGameJam">#WoogaGameJam</a> <a href="https://search.twitter.com/search?q=%23MakeyMakey">#MakeyMakey</a> <a href="http://t.co/Ged89d5fFv">t.co/Ged89d5fFv</a></span>
                        </li><li class="tweet">
                           <span class="gentle"><a href="https://twitter.com/oteatromagico">@oteatromagico</a> haverão outros shows em portugal? moro na alemanha e morro de saudade do TM. se soubesse antes, teria dado um jeito de ir.</span>
                        </li>
   </ul>
   <script src="{{ root_url }}/javascripts/twitter.js" type="text/javascript"> </script>
</section>
